<html layout:decorator="common/layout">
	<head>
		<title>Push File</title>		
	</head>
	
	<body>	
			
		<div layout:fragment="content">	
		
			<!-- The main nav bar -->
			<div th:replace="common/navbar"></div>
		
			<!-- The requests nav bar -->
			<div th:replace="request/navbar"></div>	
	
			<div id="requestBody" class="body">
				<!-- Import the request list template for the request table -->				
				<div th:replace="templates/requestListTemplate"></div>
			</div>
	
			<script th:src="@{/js/ViewModels/Request/PFRequestListViewModel.js}"></script>
			<script type="text/javascript">
				
				$(document).ready(function() {			
					$("#navRequests").toggleClass("active");
					$("#liAllRequests").addClass("active");
					
					var requestListViewModel = new PFRequestListViewModel("api/request/mine/all");			
					ko.applyBindings(requestListViewModel, document.getElementById("requestBody"));
				});
	
			</script>
		</div>


	</body>
</html>