

<html layout:decorator="common/layout">
	<head>
		<title>Push File</title>
	</head>
	
	<body>	
		<div layout:fragment="content">

			<!-- The nav bar -->
			<div th:replace="common/navbar"></div>

			<div class="body">
				
				<div style="float: left; width:49%;">
					<h3>Welcome to Push File!</h3>
				</div>	
				
				<div style="float: right; width: 49%">
					
					<!-- Quick Actions button group -->
					<div style="margin-bottom: 25px">
						<button id="butCreateRequest" class="btn pull-right" type="button">Create Request</button>
					</div>
					
					<!-- Table for inprogress requests -->
					<div id="divRequestsInProgress">
						<h4>My In Progress Requests</h4>						
						<!-- Load in the template for the request list -->
						<div th:replace="templates/requestListTemplate"></div>
					</div>	
					
					<br />
					
					<!-- Table for recent requests -->
					<div id="divRequestsRecent">
						<h4>My Recent Requests</h4>						
						<!-- Load in the template for the request list -->
						<div th:replace="templates/requestListTemplate"></div>
					</div>					
				</div>
				
				
			</div>

			<script th:src="@{/js/ViewModels/Request/PFRequestListViewModel.js}"></script>
			
			<script type="text/javascript">
	
				$(document).ready(function() {			
					$("#navHome").toggleClass("active");		
					
					// add the click listener to the create request button
					$("#butCreateRequest").click(function() {
						createRequestView();
					});
					
					//create the view model for the requests in progress
					var requestListViewModel = new PFRequestListViewModel("api/request/mine-by-status?status=NEW,IN_PROGRESS");			
					ko.applyBindings(requestListViewModel, document.getElementById("divRequestsInProgress"));

					
					//create the view model for recent requests
					var requestListViewModel = new PFRequestListViewModel();			
					ko.applyBindings(requestListViewModel, document.getElementById("divRequestsRecent"));
				});
	
			</script>	
					
		</div>
	</body>
</html>