
div.padded {
	padding: 0 15px;
}

ul.navigation {
	width: 100%
	float: left;
	padding 0;
	list-style: none;	
}

li.navigation {
	float: left;	
	padding: 10px;
}

div.body  {
	padding: 20px	
}

.banner {
	padding: 10px;
	font-size: 22px;
}

.compactCell {
	width: 1%;
}

input, select {
	width: 500px;
}

.compactCell {
	width: 1%;
}