<?xml version="1.0" encoding="UTF-8" ?>	 
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ricex.aft.servlet.mapper.DeviceMapper">

	<!-- Device result map -->
	<resultMap id="deviceResultMap" type="Device">
		<id property="deviceId" column="DEVICE_ID" />
		<result property="deviceUid" column="DEVICE_UID" />
		<result property="deviceName" column="DEVICE_NAME"/>
	</resultMap>

	<!-- select a single device -->
	<select id="getDevice" resultMap="deviceResultMap">
		SELECT * FROM DEVICE WHERE DEVICE_ID = #{deviceId}
	</select>

	<!--  selects all devices -->
	<select id="getAllDevices" resultMap="deviceResultMap">
		SELECT * FROM DEVICE	
	</select>
	
	<select id="getDeviceUid" parameterType="long" resultMap="deviceResultMap">
		SELECT * FROM DEVICE WHERE DEVICE_UID = #{deviceUid}
	</select>
	
	<!-- Updates the device in the param -->
	<update id="updateDevice">
		UPDATE DEVICE SET
			DEVICE_NAME = #{deviceName},
			DEVICE_UID = #{deviceUid}
		WHERE DEVICE_ID = #{deviceId}
	</update>
	
	<!-- Inserts the device in the param -->
	<insert id="createDevice" useGeneratedKeys="true" keyProperty="deviceId">
		INSERT INTO DEVICE (DEVICE_UID, DEVICE_NAME)
		VALUES (#{deviceUid}, #{deviceName})
	</insert>
	
</mapper>