<?xml version="1.0" encoding="UTF-8" ?>	 
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ricex.aft.servlet.mapper.DeviceMapper">

	<cache/>

	<!-- Device result map -->
	<resultMap id="deviceResultMap" type="Device">
		<id property="id" column="DEV_ID" />
		<result property="deviceUid" column="DEV_UID" />
		<result property="deviceName" column="DEV_NAME"/>
		<result property="deviceRegistrationId" column="DEV_REG_ID" />
		<association property="deviceOwner" column="DEV_OWNER" javaType="UserInfo" select="com.ricex.aft.servlet.mapper.UserMapper.getUserDetailsById" />
	</resultMap>

	
	<!-- select a single device -->
	<select id="getDeviceId" parameterType="long" resultMap="deviceResultMap">
		SELECT * FROM DEVICE WHERE DEV_ID = #{deviceId}
	</select>

	<!--  selects all devices -->
	<select id="getAllDevices" resultMap="deviceResultMap">
		SELECT * FROM DEVICE	
	</select>
	
	<!-- Selects all devices for the given user -->
	<select id="getAllDevicesByUser" parameterType="long" resultMap="deviceResultMap">
		SELECT * FROM DEVICE 
		WHERE DEV_OWNER = #{userId}
	</select>
	
	<select id="getDeviceUid" parameterType="String" resultMap="deviceResultMap">
		SELECT* FROM DEVICE WHERE DEV_UID = #{deviceUid}
	</select>
	
	<!-- Updates the device in the param -->
	<update id="updateDevice">
		UPDATE DEVICE SET
			DEV_NAME = #{deviceName},
			DEV_UID = #{deviceUid},
			DEV_REG_ID = #{deviceRegistrationId},
			DEV_OWNER = #{deviceOwner.id}
		WHERE DEV_ID = #{id}
	</update>
	
	<!-- Inserts the device in the param -->
	<insert id="createDevice" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO DEVICE (DEV_UID, DEV_NAME, DEV_REG_ID, DEV_OWNER)
		VALUES (#{deviceUid}, #{deviceName}, #{deviceRegistrationId}, #{deviceOwner.id})
	</insert>
	
</mapper>