<?xml version="1.0" encoding="UTF-8" ?>	 
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ricex.aft.servlet.mapper.FileMapper">

	<!-- Use cache -->
	<cache/>

	<!-- File result map -->
	<resultMap id="fileResultMap" type="File">
		<id property="fileId" column="FILE_ID" />
		<result property="fileName" column="FILE_NAME" />
		<result property="fileContents" column="FILE_VAL" javaType="_byte[]"/>
	</resultMap>
	
	<!-- Retreives the specified file from the database -->
	<select id="getFile" resultMap="fileResultMap">
		SELECT * FROM FILE
		WHERE FILE_ID = #{fileId}
	</select>
	
	<!--  Retreives the specified file, without the contents -->
	<select id="getFileInfo" resultMap="fileResultMap">
	    SELECT FILE.FILE_ID, FILE.FILE_NAME FROM FILE
	    WHERE FILE_ID = #{fileId}	    
	</select>
	
	<!--  Gets the contents of the specified file -->
	<select id="getFileContents" parameterType="long" resultType="_byte[]">
	    SELECT FILE_VAL FROM FILE
	    WHERE FILE_ID = #{fileId}
	</select>
	
	<!-- Inserts a new file into the database -->
	<insert id="saveFile" useGeneratedKeys="true" keyProperty="fileId">
		INSERT INTO FILE (FILE_VAL, FILE_NAME)
		VALUES (#{fileContents}, #{fileName})
	</insert>
	
	<!-- Saves the contents of the file -->
	<update id="saveFileContents">
	    UPDATE FILE SET
	    	FILE_VAL = #{fileContents}
	    WHERE FILE_ID = #{fileId}	    
	</update>
	
	<!--  Deletes the file contents from the database -->
	<update id="deleteFile">
		UPDATE FILE SET
			FILE_VAL = null
		WHERE FILE_ID = #{fileId}
	</update>
</mapper>