<?xml version="1.0" encoding="UTF-8" ?>	 
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ricex.aft.servlet.mapper.FileMapper">

	<!-- Use cache -->
	<cache/>

	<!-- File result map -->
	<resultMap id="fileResultMap" type="File">
		<id property="id" column="FILE_ID" />
		<result property="fileName" column="FILE_NAME" />
		<result property="fileSize" column="FILE_SIZE" />
		<result property="requestId" column="REQ_ID" />
		<association property="fileOwner" column="FILE_OWNER" javaType="UserInfo" select="com.ricex.aft.servlet.mapper.UserMapper.getUserDetailsById" />		
	</resultMap>
	
	<!-- File Content result map -->
	<resultMap id="fileContentResultMap" type="FileContent">
	    <id property="id" column="FILE_ID" />
	    <result property="fileContents" column="FILE_VAL" javaType="_byte[]"/>
	</resultMap>
	
	<!--  Retreives the specified file, without the contents -->
	<select id="getFileInfo" resultMap="fileResultMap">
	    SELECT FILE.FILE_ID, FILE.FILE_NAME, FILE.FILE_SIZE, FILE.REQ_ID, FILE.FILE_OWNER FROM FILE
	    WHERE FILE_ID = #{id}	    
	</select>
	
	<!--  Retrieves the files for the specified request -->
	<select id="getRequestFiles" parameterType="long" resultMap="fileResultMap">
	    SELECT FILE.FILE_ID, FILE.FILE_NAME, FILE.FILE_SIZE, FILE.REQ_ID, FILE.FILE_OWNER FROM FILE
	    WHERE REQ_ID = #{requestId}
	</select>	

	<!--  Retrieves the files for the specified user -->
	<select id="getFilesForUser" parameterType="long" resultMap="fileResultMap">
	    SELECT FILE.FILE_ID, FILE.FILE_NAME, FILE.FILE_SIZE, FILE.REQ_ID, FILE.FILE_OWNER FROM FILE
	    WHERE FILE_OWNER = #{userId}
	</select>
	
	<!--  Gets the contents of the specified file -->
	<select id="getFileContents" parameterType="long" resultMap="fileContentResultMap">
	    SELECT FILE_ID, FILE_VAL FROM FILE
	    WHERE FILE_ID = #{id}
	</select>
	
	<!-- Inserts a new file into the database -->
	<insert id="createFile" useGeneratedKeys="true" keyProperty="fileInfo.id">
		INSERT INTO FILE (FILE_VAL, FILE_NAME, FILE_SIZE, REQ_ID, FILE_OWNER)
		VALUES (#{fileContents}, #{fileInfo.fileName}, #{fileInfo.fileSize}, #{fileInfo.requestId}, #{fileInfo.fileOwner.id})
	</insert>
	
	<!-- Updates the contents of the file -->
	<update id="updateFileContents">
	    UPDATE FILE SET
	    	FILE_VAL = #{fileContents}
	    WHERE FILE_ID = #{id}	    
	</update>
	
	<!-- Updates the request for the given file -->
	<update id="updateFileRequest">
	    UPDATE FILE SET
	    	REQ_ID = #{requestId}
    	WHERE FILE_ID = #{id}
	</update>
	
	<!--  Deletes the file contents from the database -->
	<update id="deleteFile">
		DELETE FROM FILE
		WHERE FILE_ID = #{id}
	</update>
</mapper>