<?xml version="1.0" encoding="UTF-8" ?>	 
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ricex.aft.servlet.mapper.RequestMapper">

	<cache/>

	<!-- Device result map -->
	<resultMap id="requestResultMap" type="Request">
		<id property="requestId" column="REQ_ID" />		
		<result property="requestName" column="REQ_NAME" />
		<result property="requestFileLocation" column="REQ_FILE_LOC" />		
		<result property="requestStatus" column="REQ_STAT" />
		<result property="requestStatusMessage" column="REQ_STAT_MSG" />
		<result property="requestDirectory" column="REQ_FILE_BASE_DIR" />
		<result property="requestUpdated" column="REQ_UPD" />
		<association property="requestDevice" column="REQ_DEV_ID" javaType="Device" select="com.ricex.aft.servlet.mapper.DeviceMapper.getDevice" />
		<collection property="requestFiles" column="REQ_ID"  ofType="File" select="com.ricex.aft.servlet.mapper.FileMapper.getRequestFiles" />
	</resultMap>

	<select id="getRequestById" parameterType="long" resultMap="requestResultMap">
	    SELECT REQUEST.* FROM REQUEST
	    WHERE REQUEST.REQ_ID = #{requestId}
	</select>
	
	<select id="getAllRequests" resultMap="requestResultMap">
	    SELECT REQUEST.* FROM REQUEST	    
	</select>
	
	<!-- Select all requests for a specific device -->
	<select id="getRequestsForDevice" parameterType="String" resultMap="requestResultMap">
		SELECT REQUEST.* FROM REQUEST INNER JOIN DEVICE ON REQUEST.REQ_DEV_ID = DEVICE.DEV_ID
		WHERE DEVICE.DEV_UID = #{deviceUid} 
	</select>

	<!-- Select all requests for a specific device with a specific status -->
	<select id="getRequestsForDeviceWithStatus" resultMap="requestResultMap">
		SELECT REQUEST.* FROM REQUEST INNER JOIN DEVICE ON REQUEST.REQ_DEV_ID = DEVICE.DEV_ID
		WHERE DEVICE.DEV_UID = #{deviceUid} AND REQUEST.REQ_STAT = #{status}
	</select>
	
	<!-- Update a request -->
	<update id="updateRequest">
		UPDATE REQUEST SET
			REQ_DEV_ID = #{requestDevice.deviceId},
			REQ_NAME = #{requestName},
			REQ_FILE_LOC = #{requestFileLocation},
			REQ_FILE_BASE_DIR = #{requestDirectory},
			REQ_STAT = #{requestStatus},
			REQ_STAT_MSG = #{requestStatusMessage}
		WHERE REQ_ID = #{requestId}
	</update>
		

	<!-- Insert a new request -->
	<insert id="createRequest" useGeneratedKeys="true" keyProperty="requestId">
		INSERT INTO REQUEST (REQ_DEV_ID, REQ_NAME, REQ_FILE_LOC, 
			REQ_FILE_BASE_DIR, REQ_STAT, REQ_STAT_MSG)
		VALUES (#{requestDevice.deviceId}, #{requestName}, #{requestFileLocation}, 
			#{requestDirectory}, #{requestStatus}, #{requestStatusMessage})
	</insert>
	
</mapper>