<?xml version="1.0" encoding="UTF-8" ?>	 
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ricex.aft.servlet.mapper.RequestMapper">

	<cache/>

	<!-- Device result map -->
	<resultMap id="requestResultMap" type="Request">
		<id property="requestId" column="REQ_ID" />		
		<result property="requestFileLocation" column="REQ_FILE_LOC" />		
		<result property="requestStatus" column="REQ_STAT" />
		<result property="requestUpdated" column="REQ_UPD" />
		<association property="requestFile" column="REQ_FILE_ID"  javaType="File" select="com.ricex.aft.servlet.mapper.RequestMapper.getFile"/>
		<association property="requestDevice" column="REQ_DEV_ID" javaType="Device" select="com.ricex.aft.servlet.mapper.DeviceMapper.getDevice" />

	</resultMap>

	<select id="getRequestById" parameterType="long" resultMap="requestResultMap">
	    SELECT REQUEST.* FROM REQUEST
	    WHERE REQUEST.REQ_ID = #{requestId}
	</select>
	
	<select id="getAllRequests" resultMap="requestResultMap">
	    SELECT REQUEST.* FROM REQUEST	    
	</select>
	
	<!-- Select all requests for a specific device -->
	<select id="getRequestsForDevice" parameterType="long" resultMap="requestResultMap">
		SELECT REQUEST.* FROM REQUEST INNER JOIN DEVICE ON REQUEST.REQ_DEV_ID = DEVICE.DEV_ID
		WHERE DEVICE.DEV_UID = #{deviceUid} 
	</select>

	<!-- Select all requests for a specific device with a specific status -->
	<select id="getRequestsForDeviceWithStatus" resultMap="requestResultMap">
		SELECT REQUEST.* FROM REQUEST INNER JOIN DEVICE ON REQUEST.REQ_DEV_ID = DEVICE.DEV_ID
		WHERE DEVICE.DEV_UID = #{deviceUid} AND REQUEST.REQ_STAT = #{status}
	</select>
	
	<!-- Update a request -->
	<update id="updateRequest">
		UPDATE REQUEST SET
			REQ_DEV_ID = #{requestDevice.deviceId},
			REQ_FILE_LOC = #{requestFileLocation},
			REQ_FILE_ID = #{requestFile.fileId}
			REQ_STAT = #{requestStatus}
		WHERE REQ_ID = #{requestId}
	</update>
		

	<!-- Insert a new request -->
	<insert id="createRequest" useGeneratedKeys="true" keyProperty="requestId">
		INSERT INTO REQUEST (REQ_DEV_ID, REQ_FILE_LOC, REQ_FILE_ID, REQ_STAT)
		VALUES (#{requestDevice.deviceId}, #{requestFileLocation}, #{requestFile.fileId}, #{requestStatus})
	</insert>
	
</mapper>