<?xml version="1.0" encoding="UTF-8" ?>	 
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ricex.aft.servlet.mapper.UserMapper">
    
    <cache />
    
    <resultMap id="userResultMap" type="User">
        <id property="userId" column="USER_ID" />
        <result property="userName" column="USER_USERNAME" />
        <result property="userPassword" column="USER_PASSWORD" />
        <result property="userActive" column="USER_ACTIVE" />
        <result property="userLocked" column="USER_LOCKED" />
        <result property="userExpirationDate" column="USER_EXP_DATE" />
        <result property="userPasswordExpirationDate" column="USER_PASSWORD_EXP_DATE" />
        <collection property="authorities" ofType="Authority" javaType="ArrayList" column="USER_ID" select="fetchAuthoritiesForUser"/>        
    </resultMap>
    
    
    <select id="fetchUserByUsername" parameterType="String" resultMap="userResultMap">
        SELECT * FROM USER WHERE USER_USERNAME = #{username}
    </select>
    
    <select id="fetchUserById" resultMap="userResultMap">
        SELECT * FROM USER WHERE USER_ID = #{id}
    </select>
    
    <select id="fetchAuthoritiesForUser" resultType="Authority">
        SELECT * FROM USER_AUTHORITY WHERE USER_ID = #{userId}
    </select>
    
</mapper>
