<html layout:decorator="common/layout">
	<head>	
		<title>Push File</title>		
	</head>
	
	<body>			
		<div layout:fragment="content" >	
		
			<!-- The nav bar -->
			<div th:replace="common/navbar"></div>
			
			<!-- The Devices nav bar -->
			<div>
				<ul class="nav nav-tabs" role="tablist">	
					<li class="active"><a th:href="@{/device/}">My Devices</a></li>
					<li><a th:href="@{/device/view/?deviceId=1}">View Device</a></li>
				</ul>	
			</div>
			
			<div class="body">
				
				<!-- ko foreach: devicesGrid -->	
					<div class="deviceRow">				
						<!-- ko foreach: $data -->
						
							<div class="deviceCell btn btn-default">
								<img width="100px" data-bind="attr:{src: deviceImageUrl}" /> 
								<br />
								<span data-bind="text: deviceName"></span>
							</div>
							
						<!-- /ko -->
					</div>
					<br />
				<!-- /ko -->	
			
			</div>	
	
	
			<script th:src="@{/js/ViewModels/device/PFDeviceListViewModel.js}"></script>
			<script type="text/javascript">
	
				$(document).ready(function() {
				
					$("#navDevices").toggleClass("active");
				
					var deviceViewModel = new PFDeviceViewModel();			
					ko.applyBindings(deviceViewModel, document.getElementById("deviceBody"));
				});
	
			</script>
			
		</div>

	</body>
</html>