<html layout:decorator="common/layout">
	<head>	
		<title>Push File</title>		
	</head>
	
	<body>			
			
		<div layout:fragment="content" >
		
			<input type="hidden" id="deviceUID" th:value="${deviceUID}" />	
		
			<!-- The nav bar -->
			<div th:replace="common/navbar"></div>
			
			<!-- The devices nav bar -->
			<div th:replace="device/navbar"></div>
			
			<div  id="deviceBody" class="body">
						
				<h3 data-bind="text: device().deviceName"></h3>
							
				<!-- The div for the device image -->
				<div style="float: left; width: 30%;">
					<img data-bind="attr:{src: device().deviceImageUrl}" />
				</div>
				
				<div style="float: right; width: 69%;">
					<div>
						<table>
							<tbody data-bind="with: device">						
								<tr>
									<th>Device UUID: </th> <td data-bind="text: deviceUid"></td>
								</tr>
								<tr>
									<th>Device Registration ID: </th> <td data-bind="text: deviceRegistrationId"> </td>
								</tr>
								<tr>
									<th>Device Owner: </th> <td data-bind="text: deviceOwner().name"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<br />
					<br />
					<h3> Device Requests </h3>
					<div>
						<table class="table table-bordered table-striped table-hover">
				
							<thead>
								<tr>
									<td>Name</td>
									<td>Status</td>
									<td>Last Updated</td>
									<td>Device</td>
								</tr>
							</thead>
											
							<tbody data-bind="foreach: requests">
								<tr data-bind="click: viewRequest">
									<td data-bind="text: requestName"></td>
									<td data-bind="text: requestStatus"></td>
									<td data-bind="text: requestUpdatedText"></td>
									<td data-bind="text: requestDeviceName"></td>						
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			
			</div>	
		
		
			<script th:src="@{/js/ViewModels/device/PFViewDeviceViewModel.js}"></script>
			<script type="text/javascript">
	
				$(document).ready(function() {
				
					$("#navDevices").toggleClass("active");
					
					$("#liViewDevice").addClass("active");
					$("#liViewDevice").removeClass("hidden");
					
					//get the deviceUID from the URL parameter
					var deviceUID = $("#deviceUID").val();
				
					//create the device view model and apply its bindings
					var deviceViewModel = new DeviceViewModel(deviceUID);			
					ko.applyBindings(deviceViewModel, document.getElementById("deviceBody"));
				});
	
			</script>
			
			
		</div>

	</body>
</html>