<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	
	<typeAliases>
		<typeAlias alias="Device" type="com.ricex.aft.common.entity.Device"/>
		<typeAlias alias="File" type="com.ricex.aft.common.entity.File"/>
		<typeAlias alias="Request" type="com.ricex.aft.common.entity.Request"/>
		<typeAlias alias="FileContent" type="com.ricex.aft.servlet.entity.FileContent" />
		<typeAlias alias="User" type="com.ricex.aft.servlet.entity.User" />
		<typeAlias alias="UserRole" type="com.ricex.aft.servlet.entity.UserRole" />
		<typeAlias alias="UserInfo" type="com.ricex.aft.common.entity.UserInfoImpl" /> 
		<typeAlias alias="RegistrationKey" type="com.ricex.aft.servlet.entity.RegistrationKey" />
		<typeAlias alias="DeviceImage" type="com.ricex.aft.servlet.entity.DeviceImage" />
		<typeAlias alias="UserAuthenticationToken" type="com.ricex.aft.servlet.entity.UserAuthenticationToken" />
	</typeAliases>
	
	
	<mappers>
		<mapper resource="com/ricex/aft/servlet/mapper/DeviceMapper.xml" />
		<mapper resource="com/ricex/aft/servlet/mapper/DeviceImageMapper.xml" />
		<mapper resource="com/ricex/aft/servlet/mapper/FileMapper.xml" />
		<mapper resource="com/ricex/aft/servlet/mapper/RequestMapper.xml" />
		<mapper resource="com/ricex/aft/servlet/mapper/UserMapper.xml" />
		<mapper resource="com/ricex/aft/servlet/mapper/RegistrationKeyMapper.xml"/>
		<mapper resource="com/ricex/aft/servlet/mapper/UserAuthenticationTokenMapper.xml"/>
	</mappers>

</configuration>