<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ricex.aft.android"
    android:versionCode="2"
    android:versionName="0.4.1" >

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" />  Needed for Android < 4.0.4-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    
    <permission android:name="com.ricex.aft.android.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.ricex.aft.android.permission.C2D_MESSAGE"/>
    
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ricex.aft.android.PushFile"
            android:label="@string/app_name" >
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        
        <activity
            android:name="com.ricex.aft.android.auth.AccountActivity"
            android:label="@string/app_name" >
            
            <!-- Make this the main activity for now -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
        
        <receiver android:name="com.ricex.aft.android.gcm.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.ricex.aft.android" />
            </intent-filter>
        </receiver>
        
        <service android:name="com.ricex.aft.android.gcm.GcmIntentService" />        
        <meta-data android:name="com.google.android.gms.version" android:value="5089000" />
        
    </application>
    
 

</manifest>
