
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<!--  scripts -->	
		
		<!-- Prod Scripts -->	
		<!-- 
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
		-->
		
		<!-- Dev Scripts -->
		<script th:src="@{/js/jquery-2.1.1.js}"></script>
		<script th:src="@{/js/knockout-3.1.0.debug.js}"></script>
		<script th:src="@{/js/jquery.form.js}"></script>
		
		<!-- View and View Model scripts -->
		<script th:src="@{/js/common.js}"></script>
		<script th:src="@{/js/ViewModels/commonModels.js}"></script>
		
		<script th:src="@{/js/bootstrap.js}"></script>
		
		<!-- css -->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/style.css}" rel="stylesheet" />		
		
		<title>Push File</title>			
		
	</head>
	
	<body>	
		
		<!--import the page header -->
		<header th:replace="common/header"></header>
		
		<!-- the body of the page -->
		<div layout:fragment="content"></div>
		
		<!-- import the page footer -->
		<footer th:replace="@{common/footer}"></footer>

	</body>
</html>